templates/n8n-workflows/Repositorio Completo/Todas Extras/General Actions/0737_Manual_Executecommand_Automation_Triggered/0737_Manual_Executecommand_Automation_Triggered.json
{
  "id": "29",
  "name": "N8N Espaþol - Ejemplos",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Minºsculas",
      "type": "n8n-nodes-base.executeCommand",
      "color": "#E31515",
      "notes": ".toLowerCase()",
      "position": [
        650,
        -10
      ],
      "parameters": {
        "command": "=echo Minºsuclas: {{$node[\"Set\"].json[\"mensaje\"].toLowerCase()}}"
      },
      "notesInFlow": true,
      "typeVersion": 1
    },
    {
      "name": "Mayºsculas",
      "type": "n8n-nodes-base.executeCommand",
      "color": "#0BA1ED",
      "notes": ".toUpperCase()",
      "position": [
        800,
        90
      ],
      "parameters": {
        "command": "=echo Mayºsculas: {{$node[\"Set\"].json[\"mensaje\"].toUpperCase()}}"
      },
      "notesInFlow": true,
      "typeVersion": 1
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        440,
        180
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mensaje",
              "value": "Un Leµn pasea por la Sabana Africana"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "name": "Replace",
      "type": "n8n-nodes-base.executeCommand",
      "color": "#0BA1ED",
      "notes": ".replace - .replace('Un Leµn', 'Una Jirafa')",
      "position": [
        800,
        290
      ],
      "parameters": {
        "command": "=echo Replace: {{$node[\"Set\"].json[\"mensaje\"].replace('Un Leµn', 'Una Jirafa')}}"
      },
      "notesInFlow": true,
      "typeVersion": 1
    },
    {
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "notes": "Junta las salidas",
      "position": [
        960,
        10
      ],
      "parameters": {},
      "notesInFlow": true,
      "typeVersion": 1
    },
    {
      "name": "Resultado",
      "type": "n8n-nodes-base.merge",
      "color": "#F41C0D",
      "notes": "Junta las salidas",
      "position": [
        1070,
        240
      ],
      "parameters": {},
      "notesInFlow": true,
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Minºsculas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mayºsculas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Replace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mayºsculas": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Minºsculas": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}